<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a routerLink="home" class="navbar-brand">effects</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="usuario/1" class="nav-link">
            Usuario</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input #txtInput
          (keypress)="goToUser(txtInput.value)"
          class="form-control mr-sm-2" type="search" placeholder="Id User">
        <button (click)="goToUser(txtInput.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
      </div>
    </div>
  </nav>
